
//Importar andra scss

@import './functions.scss';
@import './variables.scss';

//Headern

#header {
    background-color:lightblue;
}

#weed {
    @include relative($position);
    height: 150px;
    width: 180px;
   left: 830px;
   bottom: 149px;
  }

  #headertext {
    @include relative($position);
    @include font($font);
    font-size: 60px;
  }

  #search {
      @include relative($position);
      @include font($font);
      @include headerImages($position, $height, $width);
      left: 950px;
      bottom: 250px;
  }

  #searchText {
    @include font($font);
    @include relative($position);
    left: 1130px;
    bottom: 275px;
  }

  #loggain {
    @include relative($position);
    @include font($font);
    @include headerImages($position, $height, $width);
    left: 1300px;
    bottom: 369px;
  }

  #loggainText {
    @include relative($position);
    @include font($font);
    left: 1282px;
    bottom: 394px;
  }

  #header {
    @include relative($position);
    border: 10px;
    height: 155px;
    border-style: solid;
    border-color: black;
  }


  //Main, alla bilder och deras text boxar

  //Box 1
 #sale1 {
 @include textBoxesImage($heightMain, $widthMain, $borderRadius);
 @include textBoxesImageText($opacity, $display, $transition, $backfacevisibility);
 left: 200px;
 top: 100px;
 
 

  }

  #text1 {
    @include MiddleText($transition, $opacityText, $absolute, $size, $transform, $text-align);
    @include boxTexts($box_bgcolor, $box_textcolor, $box_fontSize, $box_padding, $box_TextHeight, $box_TextWidth, $box_border);
    top: 450px;
    left: 395px;
    

    
  }

  #sale1General:hover #sale1 {
@include imageHover($opacityHover);


  }

  #sale1General:hover #text1 {
    @include opacity($opacity);
    
    

  } 

  //Box 2

  #sale2 {
 @include textBoxesImage($heightMain, $widthMain, $borderRadius);
 @include textBoxesImageText($opacity, $display, $transition, $backfacevisibility);
 left: 1000px;
 bottom: 235px;

 
 
  }

  #text2 {
    @include MiddleText($transition, $opacityText, $absolute, $size, $transform, $text-align);
    @include boxTexts($box_bgcolor, $box_textcolor, $box_fontSize, $box_padding, $box_TextHeight, $box_TextWidth, $box_border);
  

  }

  #sale2General:hover #sale2 {
    @include imageHover($opacityHover);
   
      }
    
      #sale2General:hover #text2 {
        @include opacity($opacity);
      } 

  

 




