@import './functions.scss';
@import './variables.scss';

#header {
    background-color:lightblue;
}

#weed {
    @include relative($position);
    height: 150px;
    width: 180px;
   left: 850px;
   bottom: 110px;
  }

  #headertext {
    @include relative($position);
    @include font($font);
    font-size: 60px;
  top: 45px;
  }

  #search {
      @include relative($position);
      @include font($font);
      @include headerImages($position, $height, $width);
      left: 950px;
      bottom: 200px;
  }

  #searchText {
    @include font($font);
    @include relative($position);
    left: 1130px;
    bottom: 210px;
  }

  #loggain {
    @include relative($position);
    @include font($font);
    @include headerImages($position, $height, $width);
    left: 1300px;
    bottom: 320px;
  }

  #loggainText {
    @include relative($position);
    @include font($font);
    left: 1290px;
    bottom: 330px;
  }




