//Header variables
$font: Arial, Helvetica, sans-serif;
$position: relative;
$height: 50px;
$width: 60px;

//Main variables

//Images 
$heightMain: 340px;
$widthMain: 390px;
$borderRadius: 8px;

//Images box 
$opacity: 1;
$display: block;
$transition: 0.5s ease;
$backfacevisibility: hidden;

//Images middle
$opacityText: 0;
$absolute: absolute;
$size: 50%;
$transform: translate(-50%, -50%);


