//Kunde ej fixa att ha med bilderna som en funktion, så jag istället la de till i index.html istället som variabler


//Header variables
$font: Arial, Helvetica, sans-serif;
$position: relative;
$height: 50px;
$width: 60px;

//Main variables

//Images 
$heightMain: 340px;
$widthMain: 390px;
$borderRadius: 8px;

//Images box 
$opacity: 1;
$display: block;
$transition: 0.5s ease;
$backfacevisibility: hidden;
$opacityHover: 0.3;

//Images middle
$opacityText: 0;
$size: 50%;
$transform: translate(-50%, -50%);
$text-align: none;

//texts middle
$box_bgcolor: green;
$box_textcolor: white;
$box_fontSize: 16px;
$box_padding: 16px, 32px;
$box_TextHeight: 230px;
$box_TextWidth: 200px;
$box_border: 5px solid #555;

//menu
$menu_height: 100%;
$menu_width: 0;
$fixed: fixed;
$menu_zindex: 1;
$menu_top: 0;
$menu_left: 0;
$menu_bgc: #111;
$menu_hidden: hidden;
$menu_transition: 0.5s;
$menu_top_padding: 60px;
$menu_padding: 8px 8px 8px 32px;
$menu_font_size: 25px;
$menu_item_color: #818181;
$block: block;
$color_hover: #f1f1f1;
$button_postion: relative;
$button_right: 0px;
$button_fontsize: 36px;
$button_margin_left: 50px;
$menu_text_decoration: none;
$items_transition: 0.3s;
$bottom_top: 0;


//Bottom info 
$img_weed_width: 200px;
$img_weed_height: 200px;
$bold: bold;
$font_size_medias: 40px;
$social_media_sizes: 50px;




